page-profile {
	button{
		padding:0px;
	}
	ion-card{
    margin: 3px !important;
    width: calc(100% - 6px) !important;
    .uploadWrap{
        ion-icon{
            color:#777;
            font-size: 150px;
            text-align: center !important;
            display: block;
        }
    }
    button{
        height: 40px !important;
    }
}
    .imgsize img{
            width:120px;
            height:120px;
            border-radius: 50%;
    }
    .pencil{
    font-size: 22px;
    color: #3e4550;
    }
    .pencil:hover{
        opacity:0.7;
    }
    .pencil:active{
        opacity:1;
        color:black;
    }

     .xpencil{
    font-size: 22px;
    color: #3e4550;
    z-index:9999;
    }
    .xpencil:hover{
        opacity:0.7;
    }
    .xpencil:active{
        opacity:1;
        color:black;
    }
    .rtl_more{
  position: absolute;z-index: 999;top:10px;left:10px
}
.ltr_more{
  position: absolute;z-index: 999;top:10px;right:10px
}
.rtl_phone{
  direction:ltr!important;
  float:right;
}
.ltr_phone{
  direction:ltr!important;
  float:left;
}
.rtl_{
  direction:rtl;
}
.ltr_{
   direction:ltr;
}
}
